/asset_record.py
/civitai.py
/civitai_utils.py
/download.py
/file_utils.py
/javascript
/localFiles
/main.py
/matching.py
/model_manager_card_click.py
/preload.py
/satyr-model-manager.bat
/satyr-model-manager.sh
/scripts
/settings.py
/style.css
/utils.py
/variables.py
/web